*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginOuterdiv{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.loginInnerdiv{
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginHeader{
    text-align: center;
    margin-bottom: 20px;
}

.loginHeader h1{
    color: rgba(5, 44, 83);
}

.loginHeader p{
    color: black;
    font-size: 16px;
    margin-top: 10px;
}

.loginForm{
    margin-top: 20px;
    padding: 30px;
}

.loginForm label{
    display: block;
    color: rgba(5, 44, 83);
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginForm input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.loginForm input:focus{
    border-color: rgb(245, 198, 46);
    outline: none;
    border-radius: 10px;
}

.loginForm p{
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.loginForm button{
    width: 100%;
    height: 45px;
    padding: 10px;
    background-color: rgba(5, 44, 83);
    margin-top: 12px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

.loginForm button:hover{
    background-color: rgb(245, 198, 46);
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.loginForm button:active{
    background-color: rgba(5, 44, 83);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.registerLink{
    text-align: center;
    color: rgb(34, 255, 14);
    font-size: 14px;
}

.registerLink span{
    color: black;
}

.registerLink a{
    color: rgb(9, 190, 235);
    text-decoration: none;
}

.registerLink a:hover{
    color: rgb(245, 198, 46);
    font-size: larger;
}

.registerLink a:active{
    color: rgb(9, 190, 235);
    font-size: larger;
}

.passwordWrapper {
    position: relative;
}

.passwordWrapper input {
    width: 100%;
    padding-right: 60px;
}

.passwordWrapper button {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: 30px;
    width: auto;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}